* {
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: black;
    padding-top: 70px;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("imgs/background.jpg");
    padding: 1em;
}

input {
    color: black;
    text-align: start;
}

.navbar {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.274));
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;

}

.nav-list {
    list-style: none;
    text-align: end;
}

.nav-item {
    margin: 0 1em;
    display: inline;
    font-size: large;
}

a {
    color:rgb(126, 126, 126);
    text-decoration: none;
    
}

a:hover {
    color: white;
}

.container {
    max-width: 30%;
    margin: 3em auto;
    background-color: rgba(0, 0, 0, 0.267);
    padding: 1em;
    border-radius: 20px;
}

.form-control {
    border: 3px solid rgb(77, 77, 77);
    margin: auto;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 1em;
    border-radius: 1em;
}

.form-element {
    margin: 1em;
    padding: 1em;
}

.form-label {
    margin: 1em;
    width: 10%;
}

.form-input {
    width: 80%;
}

.btn {
    margin: 1em;
    padding: .5em 1em;
    color: rgb(202, 202, 202);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
}

.btn:hover {
    background-color: #1f1f1f;
}

#headshot-img {
    width: 20em;
}